.bgVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translate(-50%, -50%);
  object-fit: cover;
  pointer-events: none;
}

.videoOverlay {
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at center, transparent 0%, #09090b 100%);
  z-index: 1;
  pointer-events: none;
}
